VITE_API_BASE_URL=http://localhost:3001/api
VITE_AWS_REGION=us-east-1
VITE_FACE_LIVENESS_RESOURCES_URL=https://static.us-east-1.rekognition.amazonaws.com/FaceLivenessSessionResources/latest/face-liveness-detector.js

