PORT=3001
CLIENT_ORIGIN=http://localhost:5173
OPENPAYMENTS_BASE_URL=https://api.openpayments.guide
OPENPAYMENTS_API_KEY=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REKOGNITION_FACE_LIVENESS_MIN_CONFIDENCE=80

